"""
Copy this file to secrets.py and update as appropriate.
"""

from __future__ import unicode_literals

# Session secret key used by webapp2 framework.
SESSION_KEY = ''

# FACEBOOK
# https://developers.facebook.com/apps
FACEBOOK_ID = ''
FACEBOOK_SECRET = ''
FACEBOOK_SCOPE = 'email'

# GOOGLE
# https://code.google.com/apis/console/
# https://accounts.google.com/ManageDomains
GOOGLE_ID = ''
GOOGLE_SECRET = ''
GOOGLE_SCOPE = 'https://www.googleapis.com/auth/userinfo.profile https://www.googleapis.com/auth/userinfo.email'

# WINDOWS LIVE
# https://manage.dev.live.com/Applications/Index
WINDOWS_LIVE_ID = ''
# WINDOWS_LIVE_ID = ''
WINDOWS_LIVE_SECRET = ''
# WINDOWS_LIVE_SECRET = ''
WINDOWS_LIVE_SCOPE = 'wl.signin wl.emails'

# TWITTER
# https://dev.twitter.com/apps
TWITTER_ID = ''
TWITTER_SECRET = ''

AUTH_CONFIG = {
    'facebook': (FACEBOOK_ID, FACEBOOK_SECRET, FACEBOOK_SCOPE),
    'google': (GOOGLE_ID, GOOGLE_SECRET, GOOGLE_SCOPE),
    'windows_live': (WINDOWS_LIVE_ID, WINDOWS_LIVE_SECRET, WINDOWS_LIVE_SCOPE),
    'twitter': (TWITTER_ID, TWITTER_SECRET)
    # Yahoo (OpenID) doesn't require an auth configuration.
}